Container{
    background-color: aqua;
}
.stureg{
    /* background-color: rgb(10, 5, 5); */
    /* border-radius: 10px 10px 10px 10px; */
    color: white;
}
.form{
    /* background-color: rgba(211, 207, 207, 0.897); */
    width: 40%;
    height: 580px;
    /* border-radius: 40px 40px 40px 40px; */
    margin-top: 30px;
    margin-left: 100px;
    font-size: small;
  
}
label{
    padding-right: 80%;
    font-weight: bold;
   
}
input[type="text"]{
    padding-right: 65%;
    border-radius: 20px 20px 20px 20px;
}
input[type="pwd"]{
    padding-right: 65% !important;
    border-radius: 20px 20px 20px 20px;
}
select{
    padding-right: 71%;
    font-size: medium;
    border-radius: 20px 20px 20px 20px;
    height: 30px;
}
.navbar{
    height: 11%;
}
.navbar-dark .navbar-brand {
    font-weight: bold;
    font-size: xx-large;
}
input[type="number"]{
    padding-right: 65% !important;
    border-radius: 20px 20px 20px 20px;
}